/*EE2B47 and black*/
@font-face 
{
    font-family: "Main";
    src: url("./cowboy.ttf");
}
*
{
    font-family: "Main";
    user-select: none;
    -webkit-user-select: none; /* Safari */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* IE10+ */
    -o-user-select: none; /* Opera */
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0); /* iOS Safari */
    -webkit-user-drag: none;
    transition: all 0.2s ease-in-out;
    -webkit-transition: all 0.2s ease-in-out;
    z-index: 0;
    text-align: center;
}
*::-webkit-scrollbar
{
    display: none;
}
html
{
    margin: 0 auto;
    width: 100%;
    height: 100%;
}
body
{
    background-color: black;
    color: white;
    margin: 0;
    padding: 0;
    font-weight: bold;
    width: 100%;
    height: 100%;
    overflow-x: hidden;
}
.cap
{
    display: flex;
    position: fixed;
    top:0%;
    left: 50%;
    width: 100%;
    height:auto;
    transform: translate(-50%, 0%);
    justify-content: space-between;
    align-items: center;
    background-color: black;
    border-bottom: dotted white 3px;
    border-bottom-left-radius: 1px;
    border-bottom-right-radius: 1px;
    z-index: 2;
}
.cap *
{
    margin: 5px 10px 5px 10px;
}
.cap img:active
{
    transform: scale(0.9);
}
.cont
{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 100%;
    min-height: 100%;
    margin-bottom: 20px;
}
.cont *
{
    margin: 10px;
}
.sez
{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 85%;
    margin: 0 auto;
}
.half
{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
}
.foot
{
    border-top: dotted white 3px;
}
@keyframes appear
{
    0% {opacity: 0;}
    50% {opacity: 0;
    transform: translateY(20px);}
    100% {opacity: 1;
    transform: translateY(0px);}   
}
.row
{
    display: flex;
    width: 100%;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
}
@media screen and (orientation:portrait) {
    .cont
    {
        margin-top: 125px;
    }
}